.container {
	max-width:400px;
	width:100%;
	position:relative;
}

#contact img {
  margin-left: 2px;
	max-width: calc(90% + 20px);
}

fieldset {
	border: medium none !important;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input, #contact textarea {
	max-width: 90%;
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin: 10px 0 10px;
	padding:10px;
}

#contact textarea {
	height:100px;
	max-width:90%;
  resize:none;
}

#contact button {
  background-color: #dbd8d1;
  border: 1px black solid;
	cursor:pointer;
	width:50%;
	color:#000;
	margin:10px 0 5px 0;
	padding:10px;
	font-size:16px;
}

#contact button:hover {
  background-color: #83817d;
	color:#FFF;
}
